*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}


body{

    min-height:100vh;
    background:linear-gradient(135deg,#ff9a9e,#fad0c4);
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;

}


.container{

    max-width:420px;

    width:90%;

    margin:50px auto;

    background:#fff;

    border-radius:25px;

    padding:30px;

    text-align:center;

    box-shadow:0 15px 40px rgba(0,0,0,.15);
}


h1{

    color:#ff4d6d;
    font-size:45px;

}


h2{

    font-size:35px;
    color:#c9184a;

}


.intro{

    margin:20px;
    font-size:18px;

}


button{

    background:#ff4d6d;
    color:white;
    border:none;
    padding:15px 30px;
    border-radius:30px;
    font-size:18px;
    cursor:pointer;

}


button:hover{

    transform:scale(1.1);

}


#message{

    display:none;
    margin-top:30px;
    animation:fade 2s;

}


..gallery{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:12px;

    margin-top:25px;
}

.photo{

    background:#ffd6e0;

    border-radius:15px;

    overflow:hidden;

    aspect-ratio:1/1;

}

.photo img{

    width:100%;

    height:100%;

    object-fit:cover;

}


.footer{

    margin-top:30px;
    color:#888;

}


@keyframes appear{

from{
opacity:0;
transform:translateY(50px);
}

to{
opacity:1;
transform:translateY(0);
}

}


@keyframes fade{

from{
opacity:0;
}

to{
opacity:1;
}

}